

  <% if logged_in? %>
      <h3>Latest News</h3>

        <% if @userPostFeed.count == 0 %>

        <h4> Nothing to see. Try <a href="/post">adding a Post</a>
          or <a href="/searchusers">searching for friends</a>
        <% end %>

        <% @userPostFeed.each do |post| %>

<!--   ******** Start of the post ********  -->

              <div class="postContainer">
                <div class="span-3 header">
                  <%= post.created_at.to_formatted_s(:long_ordinal)  %>
                </div>
                <div class="span-2">
                  <img id="userImg" src="<%= post.user.imageurl %>"></img>
                  <span class="userName"><%= post.user.username %></span>
                </div>

                <div class="span-2">
                  <img id="poochImg" src="<%= post.user.poochimageurl %>"></img>
                  <span class="poochName">
                    <%= post.user.poochname %> (<%= post.user.poochbreed %>)
                  </span>
                </div>

                <div class="span-3">
                    <%if post['primaryimageurl'].include? "youtube" %>
                      <object class="primaryVideoPost" data="<%= cleanYoutubeString(post['primaryimageurl'])%>"></object>
                    <% else %>
                      <img class="primaryImagePost" src="<%= post['primaryimageurl'] %>"></img>
                    <% end %><%= post['content'] %>
                    <% if post.user.id == current_user.id %>
                        <form action="/post/<%= post['id'] %>" method="post">
                          <input type="hidden" name="_method" value="delete">
                          <button>Delete</button>
                        </form>

                        <form action="/post/<%= post['id'] %>/edit" method="get">
                          <button>Edit</button>
                        </form>
                    <% end %>
                </div>
                <div style="clear: both;"></div>



<!-- ******  Comments Section  *******-->

   <% if post.comments.count == 1 %>

     <h4 id="commentCountLabel"><%=post.comments.count %> Comment </h4>

   <% elsif post.comments.count >= 1 %>

     <h4 id="commentCountLabel"><%=post.comments.count %> Comments </h4>

   <% end %>


                <% post.comments.each do |comment| %>
                    <div class="commentsSection">

                          <div class="commentsContainer">
                            <div class="span-3 header">
                              <%= comment.created_at.to_formatted_s(:long_ordinal)  %>
                            </div>
                            <div class="spanSmall">
                              <img id="userImg" src="<%= comment.user.imageurl %>"></img>
                              <span class="userName"><%= comment.user.username %></span>
                            </div>

                            <div><%= comment.content %></div>

                            <div style="height: 50px;">
                            <% if comment.user.id == current_user.id %>
                              <form action="/comment/<%= comment['id'] %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button>Delete</button>
                              </form>
                            <% end %>
                          </div>
                            <div style="clear: both;"></div>
                          </div>
                    </div>
                <% end %>

                    <div class="newCommentContainer">
                      <form id="newCommentsForm" onsubmit="return validateSubmitCommentForm()"  action="/comment/<%= post['id'] %>" method="post">

                        <input type="text" name="newCommentText" id="newCommentText" placeholder="Write a comment..">
                        <button>Submit</button>
                      </form>
                    </div>

              <div style="clear: both;"></div>
                </div>
                <% end %>


  <% else %>

  <h3>Please login or sign up using the links above. </h3>
  <img src="http://www.kimballstock.com/pix/DOG/18/DOG_18_SA0040_01_P.JPG">
  <% end %>
  <footer>&copy; 2016 Dean Cooper | General Assembly</footer>
