<h2>Search Results</h2>



<% if @userSearchResults.count == 0 %>
  <h3>No search results found </h3>

<% end %>

<% @userSearchResults.each do |user| %>


<div class="searchResultsContainer">
  <div class="span-2">
    <img id="userImg" src="<%= user['imageurl'] %>"></img>

    <span class="userName"><%= user['username'] %></span>
  </div>

  <div class="span-2">
    <img id="poochImg" src="<%= user['poochimageurl'] %>"></img>
    <span class="poochName">
      <%= user['poochname'] %> (<%= user['poochbreed'] %>)
    </span>
  </div>
  <form action="/adduser/<%= user['id'] %>" method="post">

    <button>Connect</button>
  </form>
<div style="clear: both;"></div>
</div>





<% end %>
